
@{
    ViewBag.Title = "dynamic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Page Title -->
    <div class="page-title text-center">
        <h2 class="title"> 业界动态 </h2>
        <p class="description light">
            Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
            <br> Phosfluorescently whiteboard fully tested initiatives.
        </p>
    </div>
    <!-- Page Title -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <span class="parent"> <i class="fa fa-home"></i> <a href="/"> 首页 </a> </span>

            <i class="fa fa-chevron-right"></i>
            <span class="/solution"> 解决方案 </span>
        </div>
    </div>
    <div class="spacer-80"></div>
    <div class="container">
        <div class="services-content">
            <section class="about-innovations">
                <div class="section-title text-center">
                    <h2 class="title-services-other color-title"> 解决方案 </h2>
                    <h4 class="subtitle-services-other subtitle">Interactively empower diverse imperatives after <br> prospective convergence.</h4>
                    <div class="spacer-30"> </div>
                </div>
                <div class="row service-details">
                    <div class="col-sm-6">
                        <p>
                            Interactively fashion functional action items after 24/365 results. Dynamically redefine world-class metrics without leading-edge markets. Progressively orchestrate enabled outside the box thinking via scalable quality vectors with unleash optimal core competencies.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Interactively fashion functional action items after 24/365 results. Dynamically redefine world-class metrics without leading-edge markets. Progressively orchestrate enabled outside the box thinking via scalable quality vectors with unleash optimal core competencies.
                        </p>
                    </div>
                </div>
                <div class="spacer-50"> </div>
                <div class="row services-other">
                    <div class="col-sm-6">
                        <div class="img-box">
                            <img src="images/service-icon1.png" alt="SHELL CHEMICALS" />
                        </div>
                        <div class="services-info">
                            <h4 class="services-title-one subtitle">SHELL CHEMICALS</h4>
                            <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-box">
                            <img src="images/service-icon2.png" alt="COMMERCIAL FUELS" />
                        </div>
                        <div class="services-info">
                            <h4 class="services-title-one subtitle">COMMERCIAL FUELS</h4>
                            <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                        </div>
                    </div>
                    <div class="clearfix spacer-70"></div>
                    <div class="col-sm-6">
                        <div class="img-box">
                            <img src="images/service-icon4.png" alt="LUBRICANTS" />
                        </div>
                        <div class="services-info">
                            <h4 class="services-title-one subtitle">LUBRICANTS</h4>
                            <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-box">
                            <img src="images/service-icon5.png" alt="MARINE FUELS" />
                        </div>
                        <div class="services-info">
                            <h4 class="services-title-one subtitle">MARINE FUELS</h4>
                            <p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="services-highlights">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="title-services-other color-title"> HIGHLIGHT THE BEST </h2>
                <h2 class="title-2"> SPECIAL FEATURES </h2>
                <h4 class="subtitle-services-other subtitle-2">
                    Objectively whiteboard transparent models for prospective <br> information. Authoritatively myocardinate.
                </h4>
                <div class="spacer-30"> </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-box">
                        <div class="icon-container">
                            <img src="/images/service-icon1.png" alt="SHELL CHEMICALS">
                        </div>
                        <h4 class="subtitle"> SHELL CHEMICALS </h4>
                        <p>Energistically scale multimedia based services whereas flexible content. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box">
                        <div class="icon-container">
                            <img src="/images/service-icon2.png" alt="COMMERCIAL FUELS">
                        </div>
                        <h4 class="subtitle"> COMMERCIAL FUELS </h4>
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit agenean.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box">
                        <div class="icon-container">
                            <img src="/images/service-icon5.png" alt="MARINE FUELS">
                        </div>
                        <h4 class="subtitle"> MARINE FUELS </h4>
                        <p>Energistically scale multimedia based services whereas flexible content. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-hood">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hood">
                    <div class="service-slider">
                        <ul class="slides">
                            <li>
                                <img src="/images/hood.jpg" alt="">
                                <div class="slider-caption">
                                    <p> Processing of Petrolium, A View from the Refinery </p>
                                </div>
                            </li>
                            <li>
                                <img src="/images/hood_2.jpg" alt="">
                                <div class="slider-caption">
                                    <p> Processing of Petrolium, A View from the Refinery </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="hood-title color-title"> UNDER THE HOOD</h2>
                    <h4 class="hood-subtitle subtitle"> Uniquely transform premier infrastructures before functional metrics. Completely mesh sustainable leadership for economically sound sources. </h4>
                    <p>Distinctively fashion standardized communities vis-a-vis seamless applications. Authoritatively recaptiualize efficient supply chains without vertical initiatives. Progressively visualize strategic relationships with error-free processes. Credibly strategize fully tested outsourcing with functional e-markets. Dynamically evisculate user friendly architectures before cross-media experiences.</p>
                    <p> Interactively disintermediate empowered data whereas distinctive human capital. Compellingly utilize. visualize strategic relationships with error-free processes as a common pattern.</p>
                </div>
            </div>
        </div>
    </section>
</main>


