
@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
<!-- Page Title -->
<div class="page-title text-center">
    <h2 class="title"> 加入我们 </h2>
    <p class="description light">
       先占个位置
        <br/>我也占个位置
    </p>
</div>
    <style>
     
    </style>
<!-- Page Title -->
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <span class="parent"> <i class="fa fa-home"></i> <a href="/"> 首页 </a> </span>

        <i class="fa fa-chevron-right"></i>
        <span class="/solution"> 加入我们 </span>
    </div>
</div>
<div class="spacer-80"></div>

<div class="container" style="margin-left:-350px">
    <div class="services-content">
        <section class="about-innovations">
            <div class="section-title text-center">
                <h2 class="title-services-other color-title"> 加入我们 </h2>
                <h4 class="subtitle-services-other subtitle"> 先占个位置<br> 我也占个位置convergence.</h4>
                <div class="spacer-30"> </div>
            </div>
         
            
          
        </section>
    </div>
</div>


</main>



