
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";

    ViewBag.Title = "走近天沃";

}
@section title{
    <h2 class="title"> 关于我们 </h2>
    <p class="description light">
        天沃致力于供应链质量管理系统服务及实验室Lims系统服务的提供商

    </p>
}
@section nav{
    <span class="child"> <a href="/about"> 关于我们 </a> </span>
}

@section container{
    <section class="about-company">
        <div class="com">
            <h2 class="company-title color-title"> 天沃科技 </h2>
            <h4 class="company-subtitle subtitle">天沃以“创新型”的供应链管理服务模式，为大型企业提供一站式及专属定制式的供应链质量管理解决方案。  </h4>
            <p> 天沃供应链质量管理系统服务有限公司（以下简称“天沃”），是一家致力于供应链质量管理系统服务及实验室Lims系统服务的提供商,为大型企业提供一站式及专属定制式的供应链质量管理解决方案，我们的服务内容包括：</p>
            <p>定制化质量管理软件系统 </p>
            <p>实验室Lims系统 </p>
            <p>企业技术标准库建立 </p>
            <p>大数据管理与挖掘 </p>
            <p>供应链质量管理 </p>
            

        </div>
    </section>
    <section class="about-cta">
        <div class="cta">
            <h3>我们的理念：为客户创造价值！</h3>
            <h3>我们的使命：为客户创造价值！</h3>
            <h3>我们的目标：为客户创造价值！</h3>
            <h3>我们的愿景：为客户创造价值！</h3>
        </div>
    </section>
    <section class="about-culture">
        <div class="row culture">
            <div class="col-sm-6 cul">
                <h2 class="culture-title"> 我们的愿景 </h2>
                <h4 class="culture-subtitle"> 为客户创造价值. </h4>
                <p>通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。</p>
            </div>
            <div class="col-sm-6 culture-video">
                <a href="#" class="hover-effect"> <img src="/images/emp.jpg" alt="employee" /> </a>
            </div>
        </div>


    }
