
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <!-- Page Title -->
    <div class="page-title text-center">
        @RenderSection("title")
    </div>
    <!-- Page Title -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <span class="parent"> <i class="fa fa-home"></i> <a href="/"> 首页 </a> </span>
            <i class="fa fa-chevron-right"></i>
            @RenderSection("nav")
          
        </div>
    </div>
    <div class="container">
        <div class="row about-sidebar">
            <div class="col-md-9 about-content">      
                @RenderSection("container")
            </div>
            <div class="col-md-3 sidebar left">
                <div class="sidebar-blog-categories">
                    <ul>
                        <li> <a href="about"> 走近天沃 </a> </li>
                        <li> <a href="presence"> 天沃风采 </a> </li>
                        <li> <a href="team"> 我们的团队 </a> </li>
                        <li> <a href="contact"> 联系我们 </a> </li>

                    </ul>
                </div>
             

            </div>
        </div>
    </div>
</main>

