
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";

    ViewBag.Title = "联系我们";

}
@section nav{
    <span class="child"> <a href="/Contact"> 联系我们 </a> </span>
}


@section title{
    <h2 class="title"> 联系我们 </h2>

}


@section container{

    <section class="contact">
        <div class="row contact-centers">
            <div class="col-md-6">
                <div class="contact-area-box">
                    <h4 class="contact-title subtitle">深圳</h4>
                    <div class="address">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>
                            深圳市宝安区留仙一路2号高新奇科技园1期A610
                        </p>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>0755- 2780 1292</p>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p><a href="mailto:wanglei@topwox.com"> wanglei@topwox.com </a> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-area-box">
                    <h4 class="contact-title subtitle">上海</h4>
                    <div class="address">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>
                            384 Walworth Rd
                            <br> London SE17 2NG
                            <br> United Kingdom
                        </p>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>0755- 2780 1292</p>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p> <a href="mailto:cuilin@topwox.com"> cuilin@topwox.com </a> </p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

}
