
@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <!-- Page Title -->
    <div class="page-title text-center">
        <h2 class="title"> 加入我们 </h2>
        <p class="description light">
            欢迎投寄简历
            <br />
        </p>
    </div>
    <style>
        /*h4.subtitle {
            margin-left: -1000px
        }*/
    </style>
    <!-- Page Title -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <span class="parent"> <i class="fa fa-home"></i> <a href="/"> 首页 </a> </span>

            <i class="fa fa-chevron-right"></i>
            <span class="/solution"> 加入我们 </span>
        </div>
    </div>
    <div class="spacer-80"></div>

    <div class="container" >
        <div class="services-content">
            <section class="about-innovations">
                <div class="section-title text-center">
                    <h2 class="title-services-other color-title"> 加入我们 </h2>
                    <h4 class="subtitle-services-other subtitle">
                        职位职责
                    </h4>
                    <div>
                        <span style="color:red">1.</span> 完成公司产品设计、开发。
                        <br />
                        <span style="color:red">2.</span>协助项目组进行必要的测试和文档编写工作。
                        <br />
                        <span style="color:red">3.</span>积极参与开发的全过程，参与项目组成员和客户的沟通。
                        <br />
                    </div>

                    <div style="margin-right:-700px;margin-top:-100px;font-size:17px;font-weight:500">
                        <h4 class="subtitle-services-other subtitle" style="margin-left:70px">
                            任职资格
                        </h4>
                        <span style="color:red">1.</span> 有责任心，能承受较大的工作压力。
                        <br />
                        <span style="color:red">2.</span>专科及以上学历，市场营销等相关专业。
                        <br />
                        <span style="color:red">3.</span>2年以上销售行业工作经验，业绩突出者优先。
                        <br />


                        <span style="color:red">4.</span>具备一定的市场分析及判断能力，良好的客户服务意识。
                        <br />


                        <span style="color:red">5.</span>熟悉JavaScript/jQuery/HTML5/CSS/Bootstrap等Web开发技术。
                        <br />
                   
                        <span style="color:red">6.</span>.熟悉MySql、SQL Server等数据库开发，熟悉数据库优化者优先。
                        <br />
                        <span style="color:red">7.</span>计算机或相关专业，大专以上学历，具有扎实的计算机基础理论知识。

                        <br /><span style="color:red">8.</span>性格外向、反应敏捷、表达能力强，具有较强的沟通能力及交际技巧，具有亲和力。

                        <br />
                        <span style="color:red">9.</span>2年或以上ASP.NET开发工作经验，能够独立进行软件模块设计与开发, 有较好的代码规范。

                        <br />
                        <span style="color:red">10.</span>.有较好的逻辑思维能力，善于分析解决问题，良好的团队协作和沟通能力，优秀的学习能力与创新能力。
                        <br />



                        <span style="color:red">11.</span>精通C#，ASP.NET MVC，熟悉Entity Framework / Entity Framework Core/Dapper,LINQ，
                        <br />有ASP.NET Core项目开发经验开发者优先,熟悉docker,Linux者优先。
                    </div>




                    <div class="spacer-30"> </div>
                </div>



            </section>
        </div>
    </div>



    @*<div class="container" style="margin-left:-350px">
        <div class="services-content">
            <section class="about-innovations">
                <div class="section-title text-center">
                   
                    <h4 class="subtitle-services-other subtitle" style="margin-top:-200px">
                        岗位职责


                    </h4>
                    <div style="margin-left:-1000px;font-size:17px;font-weight:500">
                        <span style="color:red">1.</span>收取应收帐款
                        <br />
                        <span style="color:red">2.</span>收集潜在客户资料
                        <br />
                        <span style="color:red">3.</span> 对客户提供专业的咨询
                        <br />

                        <span style="color:red">4.</span>管理客户关系，完成销售任务。
                        <br />
                        <span style="color:red">5.</span>了解和发掘客户需求及购买愿望，介绍自己产品的优点和特色。
                        <br />
                    
                        <span style="color:red">6.</span> 销售人员职位，在上级的领导和监督下定期完成量化的工作要求，
                        <br />
                        并能独立处理和解决所负责的任务。
                        <br />

                    </div>

                  




                    <div class="spacer-30"> </div>
                </div>



            </section>
        </div>
    </div>*@
  
</main>



