<main class="main">
    @*<section class="home-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li class="has-overlay">
                        <img src="images/slider1.jpg" alt="Slider 1" />
                        <div class="slider-content">
                            <div class="container">
                                <h2> Targeting high impact exploration <br> Offshore Industry </h2>
                                <p>
                                    Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
                                    <br> Phosfluorescently whiteboard fully tested initiatives.
                                </p>
                                <a class="btn primary-btn"> KNOW MORE <i class="fa fa-angle-right"></i> </a>
                            </div>
                        </div>
                    </li>
                    <li class="has-overlay">
                        <img src="images/slider2.jpg" alt="Slider 2" />
                        <div class="slider-content text-center">
                            <div class="container">
                                <h2>Most sophisticated Storage &amp; Transport</h2>
                                <p>
                                    Quickly disintermediate collaborative web services via high standards in products.
                                    <br> Compellingly fabricate cutting-edge portals through alternative
                                    <br> opportunities. Objectively customize.
                                </p>
                                <a class="btn primary-btn"> KNOW MORE <i class="fa fa-angle-right"></i> </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>*@
    <section class="home-company">
        <div class="container">
            <div class="row company">
                <div class="col-md-5 col-sm-8">
                    <div class="company-details">
                        <h2 class="company-title color-title"> 天沃科技 </h2>
                        <h4 class="company-subtitle subtitle"> 我们专注于专业领域，为客户服务更好的服务，创造最大的价值。 </h4>
                        <p> 我们的团队，在供应链与实验室信息系统管理有着丰富的从业经验，为多家大型知名企业提供过供应链质量管理的系统服务... </p>
                        <a href="#" class="btn btn-primary" role="button"> 了解我们 </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="company-image">
                        <div class="img-left hover-effect">
                            <img src="images/company-image2.jpg" alt="Company Image" />
                        </div>
                        <div class="img-right hover-effect">
                            <img src="images/company-image1.jpg" alt="Company Image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-ceo">
        <div class="container">
            <div class="row ceo">
                <div class="col-md-6">
                    <div class="ceo-photo">
                        <img src="images/ceo.png" alt="CEO" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ceo-details">
                        <h2 class="ceo-title color-title"> 我们的愿景 </h2>
                        <h4 class="ceo-subtitle subtitle"> 为客户创建价值 </h4>
                        <p>
                            我们为知名的大型企业（如：新能源汽车整车厂）提供创新的、完整的质量管理服务模式。
                            通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。我们是一家持续创新、可信赖、卓越的供应链质量管理服务机构。
                        </p>
                        <p>针对客户的不同需求，创始团队在服务过程中不断创新与迭代更新，曾获得客户的高度认可并获得“优秀合作伙伴”的殊荣。</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-services">
        <div class="container">
            <div class="row services">
                <div class="col-md-4">
                    <div class="hover-effect">
                        <img src="images/services-one.jpg" alt="technology-innovation" />
                    </div>
                    <h4 class="services-title-one subtitle">供应链质量管理软件系统</h4>
                    <p>
                        为大型企业提供供应链质量管理建立信息化软件系统，定制化的为客户提供专属的信息化管理平台，
                        实现线上供应链质量管理、检测管理及企业技术标准库管理及大数据库管理。
                        包括：标准库查询、抽样管理，检测委托、检测管理、数据信息化、大数据收集等。
                    </p>
                    <a href="#" class="btn btn-default btn-normal">More</a>
                </div>
                <div class="col-md-4">
                    <div class="hover-effect">
                        <img src="images/services-two.jpg" alt="our-operations" />
                    </div>
                    <h4 class="services-title-one subtitle">实验室LIMS软件系统</h4>
                    <p>
                        为检测机构提供实验室管理信息化软件LIMS系统，定制化的为客户提供专属的信息化LIMS系统
                        ，  凸显检测机构服务优势及特点，为检测实验室提供个性化化的定制服务。
                        LIMS系统可实现线上检测管理、合同管理、报告管理、客户管理及报价管理；
                    
                    </p>
                    <a href="#" class="btn btn-default btn-normal"> More</a>
                </div>
                <div class="col-md-4">
                    <div class="hover-effect">
                        <img src="images/services-three.jpg" alt="social-resposibility" />
                    </div>
                    <h4 class="services-title-one subtitle">技术标准与第三方数据分析服务</h4>
                    <p>我们提供专业的技术服务，包括：标准编制，标准统一、标准优化。<br />
                        天沃团队对数据分析与应用上有着较丰富的经验，根据目标调定对数据进行透视，为客户分析出不同的数据走势。
                        </p>
                    
                    <a href="#" class="btn btn-default btn-normal">More</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="home-partners">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="subtitle-testimonials title-2"> 我们的客户 </h2>
                <div class="spacer-20"> </div>
            </div>
            <div class="row partners">
                <div class="logo-slides slides owl-carousel">
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner1.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner2.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner3.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner4.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner1.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner2.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner3.png" alt="Partner Image 1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="partner-images">
                            <img src="images/partner4.png" alt="Partner Image 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>