
@{
    ViewBag.Title = "技术标准服务";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}


@{
    ViewBag.Title = "技术标准服务";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}
@section nav{
    <span class="child"> <a href="/service/standard"> 技术标准服务 </a> </span>
}


@section title{
    <h2 class="title"> 技术标准服务 </h2>
    <p class="description light">
        技术标准服务描述。
    </p>
}


@section container{
    <section class="about-company">
        <div class="com">
            <h2 class="company-title color-title"> 技术标准服务 </h2>
            <h4 class="company-subtitle subtitle">天沃以“创新型”的供应链管理服务模式，为大型企业提供一站式及专属定制式的供应链质量管理解决方案。  </h4>
            <p>
                1）标准编制：无产品/材料标准，需建立对该材料的产品技术标准；<br />
                2）标准统一：该材料有国标、行标、地标及企标，将标准统一，转换为企业标准；<br />
                3）标准优化：已有材料标准的产品，引用现有标准，根据大数据落点进行指
            </p>
        </div>
    </section>
    <section class="about-cta">
        <div class="cta">
            <h2>我们的使命：为客户创造价值！</h2>
        </div>
    </section>
    <section class="about-culture">
        <div class="row culture">
            <div class="col-sm-6 cul">
                <h2 class="culture-title"> 我们的愿景 </h2>
                <h4 class="culture-subtitle"> 为客户创造价值. </h4>
                <p>通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。我们是一家持续创新、可信赖、卓越的供应链质量管理服务机构</p>
            </div>
            <div class="col-sm-6 culture-video">
                <a href="#" class="hover-effect"> <img src="/images/emp.jpg" alt="employee" /> </a>
            </div>
        </div>
    </section>


}

