
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";

    ViewBag.Title = "我们的团队";

}
@section nav{
    <span class="child"> <a href="team"> 我们的团队 </a> </span>
}


@section title{
    <h2 class="title"> 我们的团队 </h2>
    <p class="description light">
        天沃创始团队成员TIC从业经验超过十年以上，曾获得客户的高度认可并获得“优秀合作伙伴”的殊荣。
    </p>
}


@section container{
    <section class="about-company">
        <div class="com">
            <h2 class="company-title color-title"> 天沃团队 </h2>
            <h4 class="company-subtitle subtitle">天沃以“创新型”的供应链管理服务模式，为大型企业提供一站式及专属定制式的供应链质量管理解决方案。  </h4>
            <p>天沃创始团队成员TIC从业经验超过十年以上，服务过多家知名大型企业，为多家大型知名企业提供过供应链质量管理的系统服务。针对客户的不同需求，创始团队在服务过程中不断创新与迭代更新，曾获得客户的高度认可并获得“优秀合作伙伴”的殊荣。</p>
            <p> 我们为知名的大型企业（如：新能源汽车整车厂）提供创新的、完整的质量管理服务模式。通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。我们是一家持续创新、可信赖、卓越的供应链质量管理服务机构。</p>
        </div>
    </section>
    <section class="about-cta">
        <div class="cta">
            <h2>我们的使命：为客户创造价值！</h2>
        </div>
    </section>
    <section class="about-culture">
        <div class="row culture">
            <div class="col-sm-6 cul">
                <h2 class="culture-title"> 我们的愿景 </h2>
                <h4 class="culture-subtitle"> 为客户创造价值. </h4>
                <p>通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。我们是一家持续创新、可信赖、卓越的供应链质量管理服务机构</p>
            </div>
            <div class="col-sm-6 culture-video">
                <a href="#" class="hover-effect"> <img src="images/emp.jpg" alt="employee" /> </a>
            </div>
        </div>
    </section>


}
