
@{
    ViewBag.Title = "实验室LIMS软件系统";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}


@section nav{
    <span class="child"> <a href="/service/lims"> 实验室LIMS软件系统 </a> </span>
}


@section title{
    <h2 class="title"> 实验室LIMS软件系统 </h2>
    <p class="description light">
        实验室LIMS软件系统描述。
    </p>
}


@section container{
    <section class="about-company">
        <div class="com">
            <h2 class="company-title color-title"> 实验室LIMS软件系统 </h2>
            <h4 class="company-subtitle subtitle">天沃以“创新型”的供应链管理服务模式，为大型企业提供一站式及专属定制式的供应链质量管理解决方案。  </h4>
            <p>为检测机构提供实验室管理信息化软件LIMS系统，定制化的为客户提供专属的信息化LIMS系统，              
                凸显检测机构服务优势及特点，为检测实验室提供个性化化的定制服务。
                LIMS系统可实现线上检测管理、合同管理、报告管理、客户管理及报价管理；包括：提升检测效率、规范检测流程、标准化、信息化、系统化、减速少人工成本、提升人均产值。</p>
        </div>
    </section>
    <section class="about-cta">
        <div class="cta">
            <h2>我们的使命：为客户创造价值！</h2>
        </div>
    </section>
    <section class="about-culture">
        <div class="row culture">
            <div class="col-sm-6 cul">
                <h2 class="culture-title"> 我们的愿景 </h2>
                <h4 class="culture-subtitle"> 为客户创造价值. </h4>
                <p>通过系统化的供应链质量管理为客户提升品牌价值，传递供应链价值。我们是一家持续创新、可信赖、卓越的供应链质量管理服务机构</p>
            </div>
            <div class="col-sm-6 culture-video">
                <a href="#" class="hover-effect"> <img src="/images/emp.jpg" alt="employee" /> </a>
            </div>
        </div>
    </section>


}

